
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
   --color: #6C5CE7; 
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden; 
    overflow-y: auto;
}

.heading{

    margin: 2rem;
    padding-top: 6rem;
    display: inline-block;
    font-size: 3.5rem;
    color: var(--color);
    position: relative;
    letter-spacing: .2rem;
}

.heading::before, .heading::after{
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-top: .4rem solid rgb(0, 0, 0);
    border-left: .4rem solid rgb(0, 0, 0);
}

.heading::before{
    top: 5.8rem; left: -2rem;
    border-color: var(--color);
}
.heading::after{
    bottom: -.5rem; right: -2rem;
    transform: rotate(180deg);
    border-color: var(--color);
}


.btn{
    outline: none;
    border: none;
    border-radius: 5rem;
    background: #6C5CE7;
    color: #fff;
    cursor: pointer;
    height: 3.5rem;
    width: 15rem;
    font-size: 1.7rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}
.btn:hover{
    letter-spacing: .1rem;
    opacity: .8;
}
















.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
}

.header .logo{
    font-size: 2.5rem;
    color: #fff;

}

.hearder .logo i{
    padding: 0.5rem;
}

.header .navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header .navbar ul li{
    margin: 0 1.5rem;

}

.header .navbar ul li a{

    font-size: 2rem;
    color: #fff;

}

.header .navbar ul li :hover{
    color: #ccc;

}

.header .fa-bars{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    display: none;

}




.home{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(purple, rgb(43, 60, 105));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}

.home .banner{
    color: #fff;
    font-size:5rem ;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}
.home .slogn{
    color: #eee;
    font-size:2.5rem ;
    font-weight: 400;
    
}
.home button{
    height: 4rem;
    width: 18rem;
    background: #fff;
    color: #444;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.home button:hover{
    letter-spacing: .1rem;
}

.home .wave{
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 11rem;
    width: 100%;
    background: url(../images/wavea.png);
    background-size: 100rem 11rem;
    background-repeat: repeat-x;
    animation: waves 10s linear infinite; 

}

.home .wave2{
    animation-direction: reverse;
    opacity: .2;
}
.home .wave3{
    animation-duration: 4s;
    opacity: .5;
}

@keyframes waves{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100rem;
    }
}


.home .fa-cog{
    position: absolute;
    font-size: 30rem;
    opacity: .15;
    color: #fff;
    animation: rotate 10s linear infinite;
}

.home .nut1{
    top: 10% ; left: -15rem;
}
.home .nut2{
    top: 23% ; right: -13rem;
    animation-direction: reverse;
}

@keyframes rotate{
    100%{
       transform: rotate(360deg); 
    }
}

.about{
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4rem;
}

.about .row .content{
    text-align: left;

}

.about .row .image{

    width: 135vw;
}

.about .row .content h3{
    font-size: 3rem;
    color: var(--color);
}
.about .row .content p{
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
}


.about::before, .about::after{
    content: '';
    position: absolute;
    z-index: -1;
    opacity: .2;
    border-radius: 50%;
}
.about::before{
    height: 50rem;
    width: 50rem;
    background: #ccc;
    bottom: -10rem; left: -10rem;
   
}
.about::after{
    height: 60rem;
    width: 60rem;
    background: rebeccapurple;
    top: -10rem; right: -10rem;
}

.service{
    width: 100vw;
    text-align: center;

}
.service .row{
    margin:2rem 0;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service .row .image img{
    width: 50vw;
    height: 55vh;

}
.service .row .content{
    text-align: left;
    padding: 0 3rem;
}
.service .row .content h3{
    font-size: 3rem;
    color: var(--color);

}
.service .row .content h4{
    font-size: 1.5rem;
    color: var(--color);

}
.service .row .content p{
    font-size: 1.5rem;
    color: #333;padding: 1rem 0;

}

.team{
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #222;

}
.team .heading{
    color: #fff;
    
}
.team .heading::before, .team .heading::after{
    /* background-color: #fff; */
    border-color: white;
}
.team .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.team .row .card{
    height: 35rem;
    width: 25rem;
    background: #fff;
    text-align: center;
    margin: 7rem 2rem;
    overflow: hidden;
    -webkit-box-reflect: below .2rem linear-gradient(transparent 70%, #0004);
}

.team .row .card .image{
    margin: 1rem 0;
    padding-top: rem;

}

.team .row .card .image img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    border: .5rem solid #fff;
    box-shadow: 0 0 .5rem rgba(0,0,0,.3);
    object-fit: cover;
}
.team .row .card .info h3{
font-size: 2rem;
color: #333;
}
.team .row .card .info span{
font-size: 1.8rem;
color: var(--color);
}
.team .row .card .info .icons a{
    margin-top: 4rem;
    padding: 0 1rem;
    font-size: 2rem;
    color: #333;


}
.team .row .card .info .icons a:hover{
    color: var(--color);
}

.contact{
    min-height: 100vh;
    width: 100vw;
    text-align: center;
  
}
.contact .raw{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .raw .image img{
    height: 70vh;
    width: 50vw;
}

.contact .raw .form-container{
    width: 50%;
    text-align: left;
    padding: 0 5rem;

}

.contact .raw .form-container input, textarea{

    outline: none;
    border: none;
    height: 4rem;
    background: none;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .5rem rgba(0,0,0,.2);
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 1.6rem;

}

.contact .raw .form-container .inputBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.contact .raw .form-container .inputBox input[type="text"]{
    width: 49%;
}

.contact .raw .form-container input[type="email"]{
    width: 100%;
}
.contact .raw .form-container textarea{
    width: 100%;
    height: 20rem;
    padding: 1rem;
    resize: none;

}
.contact .raw .form-container input[type="submit"]{
 background-color: var(--color);
 color: #fff;
 cursor: pointer;
 height: 4rem;
 width: 10rem;


}
.contact .raw .form-container input[type="submit"]:hover{
    opacity: .8;
    /* letter-spacing: ; */

}
.faq{
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 0 2rem;

}

.faq .row{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}
.faq .row .image img{

    height: 70vh;
    width: 50vw;

}
.faq .row .accordion-container{
    width: 50%;
    text-align: left;

}

.faq .row .accordion-container .accordion .accordion-header{

    background-color: var(--color);
    margin: 1rem 0;
    box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
    cursor: pointer;

}
.faq .row .accordion-container .accordion .accordion-header span{
    display: inline-block;
    text-align: center;
    height: 4rem;
    width: 5rem;
    line-height: 4rem;
    font-size: 2rem;
    background: #fff;
    color: #333;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

}

.faq .row .accordion-container .accordion .accordion-header h3{
   display: inline;
   color: #fff;
   font-weight: 400;
   padding-left: .5rem;
   font-size: 1.5rem;


}
.faq .row .accordion-container .accordion .accordion-body{
    padding: 1rem;
    color: #444;
    box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
    font-size: 1.3rem;
    display: none;
}
.faq .row .accordion-container .accordion:nth-child(1) .accordion-body{
    display: block;
}



 .footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background: var(--color);

}
/* .footer-container{
    background: var(--color);
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-top: 1rem;
    
    
}


.footer-container .footer-logo img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: 0.5rem solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0.5rem;
    object-fit: cover;

}

.footer-container h2{
    font-size: 2rem;
    color: #fff;
   

}

.footer-container p{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 11px;
} */



/* amnn */


.footer {
    background-color: #222; /* Dark blue color */
    color: #FFFFFF;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
    width: -webkit-fill-available;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column h4 {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li a {
    color: #FFFFFF;
    text-decoration: none;
    line-height: 2.4;
    display: block; /* Makes the whole line clickable */
}

.footer-bottom {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    border-top: 1px solid #37474F;
}



/* Font Awesome Icons */


/* aman */


.footer h1{
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 400;
    padding-left: 2rem;

}
.footer .icons a{
    color: #fff;
    font-size: 1.8rem;
    padding: 0 2rem;
    
    

} 




















/* media queries */
@media (max-width:815px){
    html{
        font-size: 50%;
    }
    .header .fa-bars{

        display: block;
    }

    .header .navbar{
        position: fixed;
        top: -120%; left: 0;
        height: auto;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
        border-top: .1rem solid rgba(0,0,0,.3);
    }
    .header .navbar ul{
        height: 100%;
        width: 100%;
        flex-flow: column;
    }
    .header .navbar ul li{
        margin: 1rem 0;
    }
    .header .navbar ul li a{
        color: #444;
        font-size: 2.4rem;
    }

    .header .fa-times{

        transform: rotate(180deg);
    }

    .header .nav-toggle{
        top: 5.8rem;
    }
    .home .banner{
        font-size: 4rem;
    }
    .home .slogn{
        font-size: 1.7rem;
    }
    .about .row{
        flex-flow: column-reverse;
        padding: 0 2rem;
    }
    .about .row .image img{
        width: 100vh;
    }
    .service .row{
        flex-flow: column-reverse;
    }
    .service .row:nth-child(even){
        flex-flow: column;
    }
    .service .row:nth-child(even){
        flex-flow: column;
    }
    .service .row .image img{
        width: 100vw;
    }
    .service .row .content{
        padding: 0;
    }
    .contact .raw{
        flex-flow: column;
    }
    .contact .raw .image img{
        width: 100vh;
    }
    
    .contact .raw .form-container{
        width: 100%;
        padding: 0 1.5rem;
    }
    .faq{
        padding: 0;
            }
    .faq .row{
        padding: 0 1rem;
        flex-flow: column;
            }
            .faq .row .image img{
                width: 100vw;
                
            }
            .faq .row .accordion-container{
                width: 100%;
         }
}

@media (max-width:550px){
    .footer{
        flex-flow: column;
    }
    .footer h1{
        text-align: center;
    }
.footer .icons{
    padding: 1rem 0;
}
}



